<div class="container">
  <h2 jhiTranslate="welcome.title">Bem Vindo ao Sistema Gerenciador de Tarefas!</h2>

  <br>

  <img src="../../content/images/tasks.png">

  <br>

  <h6 class="text-align-center" jhiTranslate="welcome.text">Bem-vindo ao nosso Sistema de Gerenciamento de Tarefas! Organize suas atividades de forma eficiente, priorize tarefas e melhore sua produtividade. Transforme a maneira como você lida com suas responsabilidades. Comece agora e conquiste um novo nível de eficácia no seu dia a dia!</h6>
</div>
